{% extends "base.html" %} {% block title %}Privacy - DSC-IEM Blogs{% endblock %} {% block content %}
<div class="container size-xs ink-secondary base-semilight">
    <br />
    <div class="size-xl ink-grey base-semibold">Politique de confidentialité</div>
    <br /> Cette politique de confidentialité explique comment DSC-IEM ("DSC-IEM", "Nous" ou "US") collecte, utilise et divulgue informations sur vous. Cette politique de confidentialité s'applique lorsque vous utilisez nos sites Web, nos applications
    mobiles et autres en ligne. produits et services liés à cette politique de confidentialité (collectivement, nos "services"), contactez notre service clientèle Équipe, engagez-nous avec nous sur les médias sociaux ou d'autres interactions avec nous.
    Nous pouvons changer cette politique de confidentialité de temps en temps. Nous vous encourageons à examiner régulièrement cette politique de confidentialité pour rester Informé sur nos pratiques d'information et les choix à votre disposition. Les
    blogs DSC-IEM ne partageent pas les informations personnelles avec des tiers ni ne Nous stockons des informations collectées sur votre visite autre que d'analyser Performance de contenu grâce à l'utilisation de cookies, que vous pouvez éteindre à
    tout moment en modifiant votre internet Paramètres du navigateur. Le propriétaire n'est pas responsable du contenu republié trouvé sur ce blog sur un autre Web sites ou médias sans autorisation. Toutes les informations personnelles collectées en ligne
    sont soumises à la vie privée mondiale règlements.

    <h2>Informations que nous collectons</h2>

    Nous ne recueillons que des informations sur vous si nous avons une raison de le faire - par exemple, de fournir nos services, à Communiquez avec vous ou pour améliorer nos services.
    <br/> Nous recueillons ces informations à partir de trois sources: si et lorsque vous nous fournissez des informations, automatiquement à travers exploiter nos services et des sources extérieures.

    <h2>Blog Commentaires Politique</h2>

    Le propriétaire de ce blog se réserve le droit de modifier ou de supprimer tout commentaire soumis à ce blog sans préavis dû à:
    <ol>
        <li>Les commentaires réputés être spam ou un spam discutable.</li>

        <li>Commentaires, y compris la profanité.</li>

        <li>Commentaires contenant des langues ou des concepts qui pourraient être considérés comme offensants.</li>

        <li>Commentaires qui attaquent une personne individuellement.</li>
    </ol>
    Cette déclaration de politique de confidentialité est faite sur [le 03 décembre 2020] et peut changer dans l'avenir avec ou sans remarquer.
    <br>
    <br>
</div>
{% endblock %}